* {
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
  padding: 15px;
  font-family: 'Inter', sans-serif;
}

.page-wrapper {
  overflow: hidden;
  max-width: 423px;
  margin: auto;
  background: #F2F2F2;
  box-shadow: 0px 0px 30px rgba(153, 150, 150, 0.3);
  border-radius: 20px;
}

.container {
max-width: 380px;
margin: auto;
}

.header {
  padding: 40px 42px 145px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/image.png) no-repeat center / cover;
  border-radius: 0px 0px 80px 80px;
  color: white;
}

.hello {
font-weight: 700;
font-size: 20px;
line-height: 24px;
}

.hello-text {
font-weight: 500;
font-size: 20px;
line-height: 24px;
}

.user {
text-align: center;
margin-top: -55px;
min-width: 381px;
min-height: 100px;
left: 21px;
top: 231px;
background: #FFFFFF;
box-shadow: 0px 0px 30px rgba(121, 121, 121, 0.25);
border-radius: 13px;
padding-bottom: 15px;
}

.user-name {
font-weight: 700;
font-size: 20px;
line-height: 24px;
margin-bottom: 5px;
margin-top: 0;
}

.user-descr {
margin: 0;  
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;
color: rgba(0, 0, 0, 0.7);
}

.user-avatar {
margin-top: -95px;  
object-fit: cover;
border: 4px solid #FFFFFF;
border-radius: 50%;
}

.socials {
margin-top: 8px;
padding: 31px 24px 31px 24px;
min-width: 381px;
min-height: 195px;
left: 21px;
top: 339px;
background: #FFFFFF;
box-shadow: 0px 0px 30px rgba(121, 121, 121, 0.25);
border-radius: 13px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 333px;  
  margin: auto;
  margin-bottom: 13px;
  gap: 10px;
  }

.button {
width: 100%; 
display: flex;
justify-content: center;
align-items: center;
height: 50px; 
background-color: black;
border-radius: 6px;
  }

.button.vk {
  background: #45688E;
  }

.button.tg {
  background: #0088CC;
    }

.button.yt {
  background: #E43535;
      }

.button.gh{
height: 70px;
} 

a {
  text-decoration: none;
}

.button-text {
  color: white;
  padding-left: 5px;
  font-weight: 400;
font-size: 20px;
line-height: 24px;
}


